.reveal .slides section .fragment.strike-red,
.reveal .slides section .fragment.strike-current-red{
	opacity: 1;
	visibility: inherit;
}

.reveal .slides section .fragment.strike-red.visible{
	color: #ff2c2d;
	text-decoration: line-through;
		text-decoration-line: line-through;
		text-decoration-style: initial;
		text-decoration-color: initial;
}

.reveal .slides section .fragment.insert-right{
	transform: translate(-20%, 0);
	font-size: 0%;
}

.reveal .slides section .fragment.insert-right.visible{
	transform: translate(0, 0);
	font-size: 100%;
}

.reveal h1 {
    font-size: 1.95em;
}

.reveal .single-quote{
	font-size: 1.5em;
	padding: 0.25em;
	width: 100%;
	margin: 0;
	margin-top: 9vw;
}

.reveal .slides section .fragment.disappear{
	opacity: 1;
	visibility: inherit;
	display: inline-block;
}

.reveal .slides section .fragment.disappear.visible{
	transform: scale(0);
	visibility: hidden;
	display: none;
}

.reveal .slides section .fragment.appear{
	transform: scale(0);
	visibility: hidden;
	display: none;
}

.reveal .slides section .fragment.appear.visible{
	transform: scale(1);
	visibility: inherit;
	display: inline-block;
}

.reveal li{
  padding-bottom: 12px;
}